<app-header titulo="Card"></app-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the
      woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi repellat possimus ad. Debitis similique maxime quis inventore recusandae nemo voluptates reiciendis provident eos in. Cupiditate mollitia optio atque iusto unde!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/portals_3/SI_Hub_Zelda_Portal.jpg" alt="">
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi repellat possimus ad. Debitis similique maxime quis inventore recusandae nemo voluptates reiciendis provident eos in. Cupiditate mollitia optio atque iusto unde!
    </ion-card-content>
  </ion-card>

</ion-content>
